* {
  font-family:Helvetica, sans-serif;
}

html body {
  background-color: #efefef;
  margin: auto;
  padding: inherit;
}

header {
  width: 100%;
  text-align: center;
  background-color: black;
  margin:0px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
  position: fixed;
}

figure.ccPic {
  text-align:center;
  width: 453px;
  margin: auto;
  padding-top: 10%;
}

figcaption {
  text-align: center;
  font-size: small;
}

p {
  text-align: center;
  margin: 1.15% 15% 2% 15%;
}

article {
  text-align: left;
  margin-left: 10%;
  margin-right: 30%;
}

li {
  margin: 2px;
  padding-top: .5%;
}

ul ul {
  font-size: small;

}
