* {
  font-family:Helvetica, sans-serif;
}

html body {
  background-color: #efefef;
  margin: auto;
  padding: inherit;
}

header {
  width: 100%;
  text-align: center;
  background-color: black;
  margin:0px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
  position: fixed;
}

figure.ccPic {
  text-align:center;
  width: 453px;
  margin: auto;
  padding-top: 10%;
}

figcaption {
  text-align: center;
  font-size: small;
}

p {
  text-align: center;
  margin: 1.15% 15% 2% 15%;
}

button {
  /*text-align: center;*/
  margin: 0 auto;
  display: block;
}

#professional {
  width: 32%;
  text-align: left;
  margin-left: 16%;
  margin-bottom: 5%;
  display: inline-block;
  background-color: rgba(0, 0, 0, .4);
}

#music {
  width: 32%;
  text-align: left;
  margin-left: 5%;
  margin-bottom: 5%;
  display: inline-block;
  background-color: rgba(0, 0, 0, .4);
}

h2 {
  text-align: center;
}

ol {
  margin-left: 30%;
  margin-right: 30%;
}

li {
  margin: 0 auto;
  padding-top: .5%;
}

ul ul {
  font-size: small;

}
